{% extends 'Base.html' %}
{% block title %}
   {{ categorynames.paintingcategoryname }} | painting
{% endblock %}
{% block content %}


    <div class="painting-board nav-font bg-dark text-light mt-5" style="width:400px;">
        <h4>{{ categorynames.paintingcategoryname  }} </h4>
    </div>

    <div class="container mt-3">
    <div class="row">
          {% if a_page %}
              {% for c in a_page %}
        <div class="col-md-4 mb-4">
               <div class="card nav-font">
                   <div class="card-header bg-dark text-light">
                       {{ c.paintingname }}
                   </div>
                   <div class="card-body">
                       <img src="{{ c.paintingimage.url }}" height="300px" width="300px" class="box" style="margin-top:5px;">
                   </div>
                   <div class="card-footer bg-dark text-light">
                       <a href="{% url 'categorypaintingdetail' c.id %}" class="btn btn-outline-info nav-font" style="margin-left:30%;">Detail</a>
                   </div>
               </div>
        </div>
           {% endfor %}
            {% endif %}
    </div>
</div>

<div class="container">
    <div class="pagination">
    <span class="step-links">
        {% if a_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ a_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ a_page.number }} of {{ a_page.paginator.num_pages }}.
        </span>

        {% if a_page.has_next %}
            <a href="?page={{ a_page.next_page_number }}">next</a>
            <a href="?page={{ a_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>



</div>
</div>

{% endblock %}